{
  /* 공홈 참조 : https://eslint.org/docs/latest/rules/ */
  "extends": ["next/core-web-vitals", "eslint-config-prettier"],
  "plugins": ["react", "react-hooks", "tailwindcss", "prettier"],
  "ignorePatterns": ["components/ui/**"], 
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-anonymous-default-export": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react/jsx-no-constructed-context-values": "error",
    "react/jsx-no-bind": "warn",
    "react/jsx-key": "error",
    "react/display-name": "warn",
    "@next/next/no-img-element": "off"
  }
}
