input::placeholder,
textarea::placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply text-black/40 dark:text-white/40;
}

.react-colorful {
  @apply !w-full;
}

[data-reference-hidden] {
  @apply pointer-events-none opacity-0;
}

::-webkit-scrollbar {
  @apply h-1 w-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-500/50;
}

input[type="range"] {
  @apply h-2.5 appearance-none rounded border-0 bg-neutral-200 transition-all active:bg-neutral-300;
  @apply dark:bg-neutral-700 dark:active:bg-neutral-600;

  &::-webkit-slider-thumb {
    @apply h-5 w-3 appearance-none rounded-full bg-neutral-800 transition-all active:h-6 active:w-4 active:bg-neutral-900;
    @apply dark:bg-neutral-100 dark:active:bg-white;
  }
}

ul,
ol {
  @apply my-5 ml-2 mr-4 px-4 py-0;

  li p {
    @apply my-1;
  }
}

ul[data-type="taskList"] {
  @apply ml-0 p-0;
  @apply list-none;

  li {
    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }
  }

  input[type="checkbox"] {
    @apply cursor-pointer;
  }

  ul[data-type="taskList"] {
    @apply m-0;
  }
}

.tiptap {
  @apply max-h-[40rem] min-h-60 overflow-y-scroll p-4;

  p {
    @apply mt-2 first:mt-0;
  }

  img {
    @apply my-6 block h-auto max-w-full;

    &.ProseMirror-selectednode {
      @apply outline-4 outline-purple-600;
    }
  }

  hr {
    @apply my-8 cursor-pointer border-t border-none border-gray-100;

    &.ProseMirror-selectednode {
      @apply border-t border-purple-600;
    }
  }
}

.ProseMirror:focus {
  @apply outline-none;
}
